/*-----------------------
      Default font
-----------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*----------------------------------------
     Default Style For whole Website
-----------------------------------------*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    width: 1345px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.title-h1{
    color: #3A3A3A;
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
}
.default-color{
    color: #E02C6D;
}
.btn{
    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    border: none;
    /* align-items: center; */
}

/*------------------------- 
    Header style Start
---------------------------*/
.main-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;
}
.head-left > a{
    color: #3A3A3A;
    margin-left: 80px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-decoration: none;
}
.head-right{
    margin-right: 70px;
}
.head-right ul{
    display: flex;
}
.head-right ul li{
    list-style: none;
    margin-right: 20px;
}
.head-right > ul > li > a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.head-right > ul > a{
    color: #3A3A3A;
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px
}

/*-----------------------------
         Header style End
-------------------------------*/

/*-----------------------------
        Special Features
-------------------------------*/
.special-features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px;
}
.spf-left{
    width: 100%;
}
.spf-right{
    margin-left: 30px;
}
.spf-left > p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0;
}
.spf-left a{
    text-decoration: none;
}
.btn > i{
    margin-left: 15px;
}
.spf-right img{
    width: 440px;
    height: 414px;
}
/*------------------------
         Product items
--------------------------*/
.product-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 5px; */
    grid-row-gap: 45px;
}
.popular-product {
    margin-top: 80px;
    margin-left: 75px;
    margin-bottom: 50px;
}
.popular-product>h2 {
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 10px;
}
.product-item {
    width: 300px;
    height: 418px;
    background-color: #FFFFFF;
    box-shadow: 0 0 25px;
    border-radius: 5px;
    padding: 15px;
}
.product-item img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.item-name{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #18191f;
}
.paisa{
    font-size: 24px;
    line-height: 150%;
    color: rgba(0, 0, 0, .87);
    font-weight: 400;
}
.fa-star.filled{
    color: #FB8200;
    width: 16px;
    height: 16px;
}
.fa-star.empthy{
    width: 16px;
    height: 16px;
    color: #3A3A3A;
    /* color: linear-gradient(45deg, red, blue); */

}
.ratings{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #5E6366;
    margin-left: 10px;
}
.product-item h5{
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #787885;
}
.more-featrs{
    margin-top: 50px;
    float: right;
    margin-right: 45px;
    align-items: center;
    margin-bottom: 80px;
}
.more-featrs > a{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
.more-featrs > a > i{
    margin-left: 9px;
}

/*--------------------
        Footer
----------------------*/
.foot-menu{
    width: 100%;
    margin-top: 100px;
    background-color: #0A0826;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
}
.foot-menu > h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-top: 50px;
    margin-bottom: 8px;
}
.foot-menu > h5{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    /* margin-bottom: 10px; */
}
.social-contact{
    margin-top: 10px;
    margin-bottom: 30px;
}
.social-contact >a{
        background-color: rgb(25, 28, 31);
        border-radius: 50%;
        padding: 3px 0;
        margin-right: 12px;
}
.social-contact > a > i{
    color: #FFFFFF;
    width: 32px;
    height: 32px;
    margin: 0 auto;
}
